<form action="/items" method="POST">
  <label for="name"> Name:</label><br>
  <input type="text" id="name" name="name"><br>

  <label for="category"> Category:</label><br>
  <input type="text" id="category" name="category"><br>

  <label for="price"> Price:</label><br>
  <input type="number" id="price" name="price"><br>

  <input type="submit" value="Submit">
</form>
